

.container {
    text-align: center;
}
.formdiv {
    display: block;
    text-align: center;

}

.formStyle {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.white-text {
    color: white;
    font-family: 'Muli', sans-serif;
}

.credits-container {
    width: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px;
    padding: 10px;
}

.credits-wrapper {
    width: 100%;
    display: block;
    text-align: center;
}

.credits-text {
    text-align: justify;
    color: white;
    margin: 2em;
}

.btn-center {
    margin-left: 30px;
}

.logodeep-margin {
    margin: 70px;
}