.features-grid {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px;
    grid-template-rows: 75px 75px;
    grid-gap: 2px;
}

.square {
    background-color:lightgray;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.pitWallLeft {
    background-image: url(../../assets/pitwallleft.png);
    background-size: 100% 100%;
}

.pitWallLeftTop {
    background-image: url(../../assets/pitwalllefttop.png);
    background-size: 100% 100%;
}


.pitWallsNone {
    background-image: url(../../assets/pitwallsnone.png);
    background-size: 100% 100%;
}

.pitWallTop {
    background-image: url(../../assets/pitwalltop.png);
    background-size: 100% 100%;
}

.wallLeft{
    background-image: url(../../assets/wallleft.png);
    background-size: 100% 100%;
}

.wallLeftTop {
    background-image: url(../../assets/walllefttop.png);
    background-size: 100% 100%;
}


.wallTop {
    background-image: url(../../assets/walltop.png);
    background-size: 100% 100%;
    z-index: 10;
} 

.monster {
    background-image: url(../../assets/bugblatter.png);
    background-size: 100% 100%;
    z-index: 100;
} 