
.home-page {
    display: block;
    text-align: center;
    
}

.home-centre {
    
    width: 80%;
    text-align: center;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.link-text {
    color: black;
    
}

.button-holder {
    display: inline-block;
    width: 60%;
    margin: 2px;
    text-align: center;
}

.centre {
    text-align: center;
}

.stadium-grid{
    
        display: inline-grid;
        padding: 10px;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto;
        margin: auto;
        width: 100%;
        justify-items: stretch;
        justify-content: stretch;
        
    
}

.friend-search {
text-align: center;

}

.fsearch {
    margin: 5px;
}

.create-nav-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30px;
    justify-content: stretch;
    margin:10px;
    justify-items: stretch;
    align-items: center;
}

.title {
    margin: 5px;
}

.persistent {
    background-color: lime;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.adventurer {
    background-color:#FD0E35;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.plunderer {
    background-color: #0066FF;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.ransacker {
    background-color: gold;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.dungeon-master {
    background-color: #ee34d2;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.nav-display {
    background-color:black;
    color: white;
    border-radius: 25px;
    padding: 5px 10px 5px 10px;
    width: auto;
    text-align: center;
}

.button-list-friends {
    margin: 5px;
}

.button-list-dungeons {
    margin: 5px;
}

.home-instructions {
    
    text-align: justify;
    color: white;
    margin: 2em;
    

}

.home-instructions2 {
    
    text-align: center;
    color: white;
    margin: 2em;
    font-family: 'Muli', sans-serif;
}

.change-dungeon {
    background-color: darkorange;
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-radius: 25px;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}

h1 {
    text-align: center;
    color: white;
}

.stadium-addfriend-button {
    margin: 5px;
}

.muli-font {
font-family: 'Muli', sans-serif;
}

.demo-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;

}

.use-tool-demo {
    align-self: middle;
    margin-top: 100px;
    border: solid;
    border-width: 10px;
    border-color: black;
}

