
.home-page {
    display: block;
    text-align: center;
}

.home-centre {
    
    width: 80%;
    text-align: center;
    color: black;
    
}

.link-text {
    color: black;
    
}

.button-holder {
    display: inline-block;
    width: 60%;
    margin: 2px;
    text-align: center;
}

.centre {
    text-align: center;
}

.stadium-grid{
    
        display: inline-grid;
        padding: 10px;
        grid-template-columns: 30% 70%;
        grid-template-rows: auto auto;
        margin: auto;
        /* width: 95%; */
        /* grid-gap: 2px; */
    
}

.friend-search {
text-align: center;

}

.fsearch {
    margin: 5px;
}

.nav-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 30px;
    justify-content: space-evenly;
    margin:10px;
}
