/* ToolsCarried */
.tools-carried-grid {
    float: left;
    display: grid;
    grid-template-columns: 75px;
    grid-template-rows: 75px 75px;
    grid-gap: 2px;
    padding: 10px;
    background-image: url(../../assets/backgroundwall.png);
}

.square-tools {
    background-color:palegoldenrod;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#plank {
z-index: 100;
object-fit: cover;
width: 100%;
max-height: 100%;
}

#plank:Hover{
    opacity: 0.8;
}

#meat {
    z-index: 100;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#meat:Hover{
    opacity: 0.8;
}

/* .photo > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
  } */