
.tools-grid720 {
    float: left;
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px;
    grid-gap: 2px;
    padding: 10px;
    background-image: url(../../assets/backgroundwall.png);
}

.square-tools720 {
    background-color: palegoldenrod;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

#plank {
z-index: 100;
object-fit: cover;
width: 100%;
max-height: 100%;
}

#meat {
    z-index: 100;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.instructions {
    color: white;
    font-weight: bold;
}
