.footer {
  /* background-color: purple; */
  display:grid;
  grid-template-columns:10% 80% 10%;
  /* grid-template-rows: 75px 75px 75px 75px 75px; */
  color: white;
  min-height: 30px;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
 
  }
  
  .phantom {
  display: block;
  padding: 5px;
  height:30px;
  width: 100%;
  }

  .music-button {
    float: left;
    align-self: flex-end;
  }

  .footer-credits-link {
    color: white
  }