.game-grid {
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 150px 150px 150px 150px 150px;
    grid-gap: 2px;
}

.square {
    background-color: grey;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.pitWallLeft {
    background-image: url(../../assets/pitwallleft.png);
}

.pitWallLeftTop {
    background-image: url(../../assets/pitwalllefttop.png);
}


.pitWallsNone {
    background-image: url(../../assets/pitwallsnone.png);
}

.pitWallTop {
    background-image: url(../../assets/pitwalltop.png);
}

.wallLeft{
    background-image: url(../../assets/wallleft.png);
}

.wallLeftTop {
    background-image: url(../../assets/walllefttop.png);
}


.wallTop {
    background-image: url(../../assets/walltop.png);
    z-index: 10;
} 


#plankIcon{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#meatIcon{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

#monsIcon{
        object-fit: cover;
        width: 100%;
        max-height: 100%;
}

#avaIcon{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}