
.tools-style {

}
/* 
.renderpage-style {
    padding: 20px;
    background-image: url(../../assets/backgroundwall.png);
    display: inline-block;
    text-align: center;
} */

.nav-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30px;
    justify-content: space-evenly;
    margin:10px;
}

.homePagebtn {
width: 150px;
background-color: mediumblue;
border-radius: 5px;
}

.startGamebtn {
    cursor: pointer;
    width: 150px;
    background-color: lime;
    border-radius: 5px;
    padding:0.2em;
}

.playgame_grid {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    justify-content: space-evenly;
    margin:10px;
    padding: 10px;
    align-self: center;
}